
    <script>
        import Comp1 from "/workspace/template-sveltejs/src/comps/Comp1.svelte"
        import Comp2 from "/workspace/template-sveltejs/src/comps/Comp2.svelte"
        let cmp = true;
        function f1(){
            cmp = !cmp;
        }
    </script>

<div class="main">
    <div>
        <button on:click={f1}> my button </button>
    </div>
    {#if cmp }
        <Comp1 name = dash></Comp1>
    {:else}
        <Comp2 name2 = dashs></Comp2>
    {/if}
</div>  
<style>.main{
    display: flex;
    }
</style>



